.header {
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.brand-search {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: center;
}
.logo {  
    width: 30%;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    justify-self: flex-start;
}
.search-form {
    width: 70%;
    height: 35px;
}
.search-input {
    width: 100%;
    height: 35px;
    padding: 2px 5px;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 45px;
    width: 14%;
    z-index: 100;  
}

.autocomplete-item {
    display: block;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    font-style: none;
}
.autocomplete-items .autocomplete-item:hover {
    background-color: #e9e9e9;
}
.nav {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.nav-item {
    margin-right: 15px;
    color: #fff;
}